beautifulsoup4
httpx
truststore
pandas
pyarrow
tabula-py
JPype1
PyPDF2
pdfplumber
pypdf
camelot-py
openpyxl
python-dotenv
PyYAML
psycopg[binary]
neo4j
minio
playwright
tenacity
fuzzywuzzy
python-Levenshtein
pytest
apache-airflow==2.10.0
